:root {
    --box-padding: 1.3rem;
    --color-dark-blue: #132238;
    --color-white: #eee;
}

.backdrop {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    background-image: radial-gradient(
        circle at center,
        var(--color-dark-blue) 55%,
        var(--color-white) 400%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
